{% extends 'app/templates/base.html' %}
{% from "app/templates/includes/navigation.html" import arrows, nextStory %}

{% block banner %}
<div class="content-banner">
  <div class="banner-image">
    <img src="{{ PARENTS.lead_img }}" alt="">
  </div>
  <div class="row">
    <p class="caption">{{ PARENTS.lead_img_caption }}</p>
  </div>
</div>
{% endblock %}

{% block arrows %}
  {{ arrows(SHEETS, PARENTS.slug) }}
{% endblock %}

{% block content %}

<div class="story-container">
  <section class="content-block row shift-left">
    <header>
      <h2>{{ PARENTS.title }}</h2>
      <p class="byline">By {{ PARENTS.author }}</p>
    </header>
  </section>
  <section class="content-block row shift-left">
    <article class="prose">
      <h3>{{ PARENTS.subhead }}</h3>
      {{ PARENTS.article }}
    </article>
  </section>
</div>
<div class="slideshow flexslider">
  <ul class="slides">
    <li>
      <img src="{{ PARENTS.slideshow_picture }}" alt="">
    </li>
  </ul>
</div>

{{ nextStory(SHEETS, PARENTS.slug) }}
{% endblock %}
