{% extends 'app/templates/base.html' %}
{% from "app/templates/includes/navigation.html" import arrows, nextStory %}

{% block banner %}
<div class="content-banner">
  <div class="banner-image">
    <img src="{{ TEAM.lead_img }}" alt="">
  </div>
  <div class="row">
    <p class="caption">{{ TEAM.lead_img_caption }}</p>
  </div>
</div>
{% endblock %}

{% block arrows %}
  {{ arrows(SHEETS, TEAM.slug) }}
{% endblock %}

{% block content %}

<div class="story-container">
  <section class="content-block row shift-left">
    <header>
      <h2>{{ TEAM.title }}</h2>
      <p class="byline">By {{ TEAM.author }}</p>
    </header>
  </section>
  <section class="content-block row shift-left">
    <article class="prose">
      {{ TEAM.article }}
    </article>
  </section>
</div>

{{ nextStory(SHEETS, TEAM.slug) }}
{% endblock %}

</div>
