{% extends 'app/templates/base.html' %}

{% block banner %}
<div class="banner">
  <div class="grand-header-image"></div>
  <header class="grand-header">
    <h1><a href="/hungry">{{ META.project_title }}</a></h1>
    <p>{{ META.project_subhead }}</p>
  </header>
</div>
{% endblock %}

{% block content %}

<div class="content-block row project_intro">
  <div class="prose">
    {{ META.project_intro }}
  </div>
</div>

<section class="landing-grid">

{% for story in SHEETS.list %}
    {% if story.title %}
  <a href="{{ story.slug }}">
    <div class="{{ story.sheet }}">
      <img src="{{ story.lead_img }}" alt="">
      <h3>{{ story.title }}</h3>
    </div>
  </a>
   {% endif %}
{% endfor %}

</section>

{% endblock %}
