{% extends 'app/templates/base.html' %}

{% block banner %}
<div class="banner">
  <div class="grand-header-image"></div>
  <header class="grand-header">
    <h1><a href="/gameday">{{ META.project_title }}</a></h1>
    <p>{{ META.project_subhead }}</p>
  </header>
</div>
{% endblock %}

{% block content %}

<div class="content-block row project_intro">
  <div class="prose">
    {{ META.project_intro }}
  </div>
</div>

<h1>Date 1</h1>
<section class="landing-grid">

  <a href="{{ STORY.slug }}">
    <div class="{{ STORY.sheet }}">
      <img src="{{ STORY.lead_img }}" alt="">
      <h3>{{ STORY.title }}</h3>
    </div>
  </a>
  <a href="{{ STORY.slug }}">
    <div class="{{ STORY.sheet }}">
      <img src="{{ STORY.lead_img }}" alt="">
      <h3>{{ STORY.title }}</h3>
    </div>
  </a>
</section>

<h1>Date 2</h1>
<div></div>
<section class="landing-grid">
  
  <a href="{{ STORY.slug }}">
    <div class="{{ STORY.sheet }}">
      <img src="{{ STORY.lead_img }}" alt="">
      <h3>{{ STORY.title }}</h3>
    </div>
  </a>
  <a href="{{ STORY.slug }}">
    <div class="{{ STORY.sheet }}">
      <img src="{{ STORY.lead_img }}" alt="">
      <h3>{{ STORY.title }}</h3>
    </div>
  </a>
</section>

{% endblock %}
