/*
Error: Invalid CSS after "@import 'styles'": expected selector or at-rule, was ".nbn-footer {"
        on line 21 of .tmp/styles/main.scss

16: @import 'theme/arrows';
17: @import 'theme/content-page';
18: @import 'theme/slideshow';
19: @import 'styles'
20: 
21: .nbn-footer {
22:   height: initial;
23: }
24: 
25: .credits {
26:   padding-bottom: .5em;

Backtrace:
.tmp/styles/main.scss:21
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/scss/parser.rb:1165:in `expected'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/scss/parser.rb:1101:in `expected'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/scss/parser.rb:43:in `parse'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/engine.rb:393:in `_to_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/engine.rb:285:in `render_with_sourcemap'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/exec/sass_scss.rb:407:in `run'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/exec/base.rb:52:in `parse'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/lib/sass/exec/base.rb:19:in `parse!'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.13/bin/sass:13:in `<top (required)>'
/usr/bin/sass:23:in `load'
/usr/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"@import 'styles'\": expected selector or at-rule, was \".nbn-footer {\"\A         on line 21 of .tmp/styles/main.scss\A \A 16: @import 'theme/arrows';\A 17: @import 'theme/content-page';\A 18: @import 'theme/slideshow';\A 19: @import 'styles'\A 20: \A 21: .nbn-footer {\A 22:   height: initial;\A 23: }\A 24: \A 25: .credits {\A 26:   padding-bottom: .5em;"; }
