{% extends 'app/templates/base.html' %}
{% from "app/templates/includes/navigation.html" import arrows, nextStory %}

{% block banner %}
<div class="content-banner">
  <div class="banner-image">
    <img src="{{ BAND.lead_img }}" alt="">
  </div>
  <div class="row">
    <p class="caption">{{ BAND.lead_img_caption }}</p>
  </div>
</div>
{% endblock %}

{% block arrows %}
  {{ arrows(SHEETS, BAND.slug) }}
{% endblock %}

{% block content %}

<div class="story-container">
  <section class="content-block row shift-left">
    <header>
      <h2>{{ BAND.title }}</h2>
      <p class="byline">By {{ BAND.author }}</p>
    </header>
  </section>
  <section class="content-block row shift-left">
    <article class="prose">
      <h3>{{ BAND.subhead }}</h3>
    </article>
    <article class="prose">
      {{ BAND.article }}
    </article>
  </section>
</div>
<div class="slideshow flexslider">
  <ul class="slides">
    {% for picture in BAND.slideshow_picture %}
    <li>
      <img src="{{ picture }}" alt="">
    </li>
    {% endfor %}
  </ul>
</div>


{{ nextStory(SHEETS, BAND.slug) }}
{% endblock %}
