{% extends 'app/templates/base.html' %}
{% from "app/templates/includes/navigation.html" import arrows, nextStory %}

{% block banner %}
<div class="content-banner">
  <div class="banner-image">
    <img src="{{ GAME.lead_img }}" alt="">
  </div>
  <div class="row">
    <p class="caption">{{ GAME.lead_img_caption }}</p>
  </div>
</div>
{% endblock %}

{% block arrows %}
  {{ arrows(SHEETS, GAME.slug) }}
{% endblock %}

{% block content %}

<div class="story-container">
  <section class="content-block row shift-left">
    <header>
      <h2>{{ GAME.title }}</h2>
      <p class="byline">By {{ GAME.author }}</p>
    </header>
  </section>
  <section class="content-block row shift-left">
    <article class="prose">
      <h3>{{ GAME.subhead }}</h3>
      {{ GAME.article }}
    </article>
  </section>
</div>

{{ nextStory(SHEETS, GAME.slug) }}
{% endblock %}
