.content-banner {
  margin: 0;

  .banner-image {
    max-height: 65vh;
    overflow: hidden;
  }

  img {
    @include fill-parent();
  }

  .caption {
    @extend %caption;
    text-align: right;
    padding: 0.5em;
  }

  @include media($default-768) {
    .caption {
      @include span-columns(4);
      float: right;
    }
  }
}

.shift-left {
  @include shift(0);
  @include media($default-768) {
    @include pad(2em);
    padding-bottom: 0;
  }

  @include media($default-480) {
    @include pad(.5em);
  }
}

.story-container {

  z-index: 10;
  position: relative;

  @include media($default-768) {
    padding-top: 1em;
    padding-bottom: 2em;
    top: -8.25em;

    .prose {
      @include span-columns(11 of 12);
    }
  }

  .content-block {
    background-color: $background-color;
  }

  .prose h3 {
    font-weight: 300;
    letter-spacing: .5px;
    font-size: 1.125em;
  }

  h2 {
    @include academic-serif;
    font-size: 3em;
  }
}

.byline {
  font-weight: 300;
  padding-top: .25em;
}
