.nbn-logo {
  height: 2em !important;
}

.banner .grand-header h1 {
  @include academic-serif;
  font-size: 3em !important;
  text-transform: uppercase;
  text-shadow: $black 2px 2px 0;

  a {
    color: lighten($nbn-purple, 65%) !important;
  }

  @include media($default-768) {
    font-size: 4.5em !important;
  }
}

.extra-masthead {
  @include academic-serif;

  color: $white;
  display: inline-table;
  font-weight: 700;
  height: 100%;
  position: relative;
  top: -.5em;
  padding-left: 1em;

  a {
    color: $white;
    display: table-cell;
    margin-left: .25em;
    text-decoration: none;
    text-transform: uppercase;

    &:hover { text-decoration: none; }
  }
}


