

@mixin highlight-landing($color: $nbn-purple) {
  background-color: $color;
  padding-top: .25em;
  padding-bottom: .25em;
  padding-left: .25em;
  padding-right: .75em;
  color: $white;
  line-height: 1;
  display: inline-block;
}

.project_intro {
  // margin-left: 0;
}

.landing-grid {
  a {
    @include span-columns(12 of 12);
    margin-top: .5em;

    @include media($default-768) {
      @include span-columns(6 of 12);
      @include omega(2n);
      margin-top: $gutter;
    }

    text-decoration: none;
    position: relative;
    overflow: hidden;

    div {
      height: 225px;
    }

    &:hover {
      text-decoration: none;

      h3 {
        @include highlight-landing(transparentize($nbn-purple, .0));
      }
      img {
        opacity: 1;
      }
    }

    h3 {
      position: absolute;
      margin-top: 1em;
      font-size: 1.25em;
      @include highlight-landing(transparentize($nbn-purple, .125));
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      opacity: .75;
    }
  }
}
