.slideshow {

  @include span-columns(12 of 12);
  padding: .5em;

  @include media($default-768) {
    position: relative;
    @include span-columns(5 of 12);
    float: right;
    margin-right: 0;
    margin-top: 15em;
    padding: 0;
  }

  ul {
    list-style-type: none;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
  }

  .flex-control-nav {
    display: none;
  }

  .flex-direction-nav {
    display: none;
  }

  img {
    width: 100%;
  }
}
