{% extends 'app/templates/base.html' %}

{% block banner %}
<div class="content-banner">
  <div class="banner-image">
    <img src="{{ WRAPUP.lead_img }}" alt="">
  </div>
  <div class="row">
    <p class="caption">{{ WRAPUP.lead_img_caption }}</p>
  </div>
</div>
{% endblock %}

{% block content %}

<div class="story-container">
  <section class="content-block row shift-left">
    <header>
      <h2>{{ WRAPUP.title }}</h2>
      <p class="byline">By {{ WRAPUP.author }}</p>
    </header>
  </section>
  <section class="content-block row shift-left">
    <article class="prose">
      <h3>{{ WRAPUP.subhead }}</h3>
    </article>
    <article class="prose">
      {{ WRAPUP.article }}
<!--       <iframe src="{{ BAND.ifrrame_src }}" frameborder="0"></iframe>
      {{ STORY.text_b }} -->
    </article>
  </section>
</div>

{% endblock %}
