{% macro template(SHEET) %}

{% from "app/templates/includes/navigation.html" import arrows, nextStory %}

{% block banner %}
<div class="content-banner">
  <div class="banner-image">
    <img src="{{ SHEET.lead_img }}" alt="">
  </div>
  <div class="row">
    <p class="caption">{{ SHEET.lead_img_caption }}</p>
  </div>
</div>
{% endblock %}

{% block arrows %}
  {{ arrows(SHEETS, SHEET.slug) }}
{% endblock %}

{% block content %}

<div class="story-container">
  <section class="content-block row shift-left">
    <header>
      <h2>{{ SHEET.title }}</h2>
      <p class="byline">By {{ SHEET.author }}</p>
    </header>
  </section>
  <section class="content-block row shift-left">
    <article class="prose">
      <h3>{{ SHEET.subhead }}</h3>
      {{ SHEET.article }}
    </article>
  </section>
</div>

{{ nextStory(SHEETS, SHEET.slug) }}
{% endblock %}

</div>

{% endmacro %}
