<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ META.project_title }} | North by Northwestern</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="http://media.northbynorthwestern.com/media/img/favicon-hi.ico">


  <script type="text/javascript" src="//use.typekit.net/adk4phw.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <link href='http://fonts.googleapis.com/css?family=Nosifer' rel='stylesheet' type='text/css'>

  <meta property="og:description" content="Twenty years ago, Northwestern students staged a hunger strike for an Asian American Studies program. This week NBN explores the strike's past, present and future.">
  <meta property="og:title" content="Hungry">
  <meta property="og:url" content="http://apps.northbynorthwestern.com/hungry/">
  <meta property="og:image" content="http://media.northbynorthwestern.com.s3.amazonaws.com/uploads/2015/05/03/AASP_header.jpg">


  <!-- build:css ../styles/vendor.css -->
  <!-- bower:css -->
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) ../styles/main.css -->
  <link rel="stylesheet" href="/styles/main.css">
  <!-- endbuild -->
</head>
<body>

<a id="top"><header class="masthead">
  <div class="logo">
    <a href="//www.northbynorthwestern.com/"><img class="nbn-logo" src="http://media.northbynorthwestern.com.s3.amazonaws.com/uploads/2015/04/25/nbn_logo_black.svg" alt=""></a>
    <div class="extra-masthead"><a href="/hungry">Hungry</a></div>
  </div>
</header></a>

{% block banner %}{% endblock %}

<div class="container">
{% block content %}{% endblock %}
</div>

<footer class="nbn-footer">
  <div class="container">
    <div class="credits shift-left">
      <p><strong>Published on {{ META.published_date }}</strong></p>
      <p><strong>Design and Development</strong>: {{ META.design_and_dev }}</p>
      <p><strong>Graphics: </strong>{{ META.photo_cred }}</p>
      <p><strong>Features Editor: </strong>{{ META.editor_cred }}</p>
      <p>&copy; 2015 <a href="http://www.northbynorthwestern.com/">North by Northwestern</a></p>
    </div>
  </div>
</footer>

<!-- build:js ../scripts/vendor.js -->
<!-- bower:js -->
<script src="../../bower_components/jquery/dist/jquery.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({app,.tmp}) ../scripts/main.js -->
<script src="/scripts/main.js"></script>
<!-- endbuild -->

<script>
  $(window).load(function() {
    $('.flexslider').flexslider({
      smoothHeight: true
    });
  });
</script>

</body>
</html>
